mixin project--wide(title, description)
  .project.project--wide(class!=attributes.class)
    .project-image
      if block
        block
    .row-half
      h4.project-title= title
      .project-lead= description

mixin project--medium(title, description)
  .project.project--medium(class!=attributes.class)
    .project-image
      .project-image__outer
        .project-image__inner
    h4.project-name= title
    .project-description= description

mixin project--small(title, description)
  .project.project--small(class!=attributes.class)
    .project-image
      if block
        block
      else
        .project-image__outer
          .project-image__inner
    h4.project-name= title
    .project-description= description

.projects
  h3.caption Проекты
  .projects-column

    .project-row
      +project--wide('Айдентика, сайт и всякие штуки для рекламного агенства «Картон»', 'Описание проекта').project--cartone
        picture#js-cartone__things.project-image__layer.project--cartone__layer--0
          source(srcset="images/opt/projects/cartone/cartone-layer-0--mobile.png" alt="" media="(max-width: 800px)")
          source(srcset="images/opt/projects/cartone/cartone-layer-0.png" alt="")
          img(src="images/opt/projects/cartone/cartone-layer-0.png" alt="")
        picture.project-image__layer.project--cartone__layer--1
          source(srcset="images/opt/projects/cartone/cartone-layer-1--mobile.png" alt="" media="(max-width: 800px)")
          source(srcset="images/opt/projects/cartone/cartone-layer-1.png" alt="")
          img(srcset="images/opt/projects/cartone/cartone-layer-1.png" alt="")
        .project-image__layer.project--cartone__layer--2
          img#js-cartone__instagram-post.project--cartone__layer--2__instagram-post(src="images/opt/projects/cartone/cartone-instagram-post.png" alt="")

    .project-row
      +project--medium('Стрит авто', 'Лучший шаблон для быстрого запуска рекламы').project--strit
      +project--medium('Лада нью', 'Переосмысливаем структуру автосайта')

    .project-row.project-row--wrap
      +project--small('Медуза фридом', 'Маленький шрифт, для борьбы с большой цензурой').project--meduza
        img.project-image__layer.project--meduza__layer--0(src="images/opt/projects/meduza/meduza-layer-0.jpg" alt="")
        //img.project-image__layer.project--meduza__layer--1(src="images/opt/projects/meduza/meduza-layer-1.png" alt="")
      +project--small('Кит авто', 'Описание проекта').project--kit
        img.project-image__layer.project--kit__layer--0(src="images/opt/projects/kit/kit-layer-0.png" alt="")
      .project-cell
        h4.project-title Специализировался на автотематике
        .project-description 
          p Так сложилось, что последние N лет я разрабатываю сайты, продукты и рекламные материалы для автодилеров.
          p.project-description--autosphere Сделал тут уже миллион всего.
          p Царствие небесное этой прекрасной <nobr>бизнес-сфере</nobr> на просторах России.